
S3method(as.data.frame,perfil)
S3method(print,inferencia_tipo)
S3method(print,perfil)
S3method(summary,perfil)
S3method(tibble::as_tibble,perfil)
export(descubrir_patrones)
export(detectar_claves)
export(detectar_formatos_fecha)
export(detectar_relaciones)
export(inferir_tipo)
export(perfilar)
export(reportar)
export(sentinelas_naniar)
